body {
  background: #12131a;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  background: #6c5ce7;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  color: white;
}